---
layout: page
title: "آموزش‌های ۲۰۲۰"
permalink: /2020/
phony: true
excerpt: '' # work around a bug
---

<ul class="double-spaced english-txt">
  {% assign lectures = site['2020'] | sort: 'date' %}
  {% for lecture in lectures %}
    {% if lecture.phony != true %}
      <li>
        <strong>{{ lecture.date | date: '%-m/%d' }}</strong>:
        {% if lecture.ready %}
          <a href="{{ lecture.url }}">{{ lecture.title }}</a>
        {% elsif lecture.noclass %}
          {{ lecture.title }} [no class]
        {% else %}
          {{ lecture.title }} [coming soon]
        {% endif %}
        {% if lecture.details %}
          <br>
          ({{ lecture.details }})
        {% endif %}
      </li>
    {% endif %}
  {% endfor %}
</ul>

ویدیوهای این آموزش‌ها <a href="https://www.youtube.com/playlist?list=PLyzOVJj3bHQuloKGG59rS43e29ro7I57J">روی یوتیوب</a> در دسترس هستند.

<h2>آموزش‌های سال گذشته</h2>

<p>شما می‌توانید آموزش‌ها و ویدیوهای <a href="/2019/">سال گذشته این کلاس</a> را هم ببینید. آموزش‌های هر سال کاملا مستقل از دوره‌های پیشین است و ما پیشنهاد می‌کنیم که از به روزترین دوره (اکنون دوره ۲۰۲۰) بهره ببرید. با توجه به اینکه تفاوت اندکی در موضوع‌های بررسی شده هر سال وجود دارد، همچنان آموزش‌ها و ویدیوهای دوره‌های پیشین در دسترس خواهند بود.</p>
